
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  margin: 0%;
  display: block;
  overflow-x: hidden;
  padding-inline: 7%;
  background-color:#FBF8CC;
  color: #03045E;
  font-size: 1.5vw;
}
h1, h2, h3,h4,h5,h6,p {
    margin: 0;
}
Image{
  width: 100%;
}