 .main{
    padding: 7% 0%;
    }
.main h1{
font-size: 6vw;
 padding-bottom: 2%;
}
.contactDiv{
display: flex;
gap: 5%;
}
.contactData{
    display: flex;
    font-size: 2vw;
    width: 50%;
    flex-direction: column;
}
.contactData a{
    text-decoration: none;
    color: #EB0325;
}
.p1{
    padding-bottom: 5%;
}
.NavSocials{display: none;}
@media (width<=464px)
{
   .main h1{
        font-size: 13vw;
    }
    .contactDiv{
        align-items: center;
        flex-direction: column;
    }
    .contactData{
        padding-top: 4%;
        text-align: center;
        font-size: 4vw;
        width: 100%;}
    .NavSocials{display: inline-flex;
        font-size: 8vw;
            padding: 5% 0%;}

            .NavSocials{
                width: 50%;
                display: flex;
                justify-content: space-between;
                list-style: none;
            }
}