.workDiv{
display: flex;
flex-direction: column;
}
.work1{
    width: 10%;
}
.work2{
    width: 10%;
}
.workDiv h1{
    font-size: 6vw;
color: #F7F197;
}
.workDiv p{
    width: 62.5%;
    margin: 2% 0% 6%;
}
.workData{ 
    display:inline-flex;
    justify-content: space-between;
}
.workData div{  
    width: 42.25%;
}
.workData h6{
font-size: .8vw;
}
.workData h3{
font-size: 1.5vw;
margin: 2% 0% 0%;
font-weight: 800;
}
.workData p{
    width: 100%;
    margin: 0% 0% 6%;
}
@media (width<=464px)
    {
    .workDiv{
        font-size: 4vw;
    }
    .workDiv h1{
        font-size: 13vw;
        padding-bottom: 5vw;
    }
    .workData h6{
        font-size: 2.75vw;
        padding-bottom: 2.25vw;
    }
    .workData h3{
     font-size: 5vw;
  margin:0%;
    }
    .workData ul{
        font-size: 5vw;
    }
    .workData{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
.workData div{width: 100%; margin: 5vw 0;}
        .workDiv p{
            width: 100%;
        }
    }
